.accountContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.actionButtons {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.infoContainer {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.userInfo {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.page {
    width: 100%;
    height: 100%;
}