.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    gap: 1.6vw;
}

.newsContent {
    display: flex;
    gap: 1.6vw;
}

.newsImage {
    height: 20vw;
    width: auto;
    border-radius: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}