.page {
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}