:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: #333154;
}

.container {
  margin: 0 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageContainer {
  margin: 0 10vw;
  height: 83vh;
  background-color: white;
  display: flex;
  padding: 3vw;
  border-radius: 1vw;
  box-shadow: 1vw 1vw 5vw #2f3039;
  overflow: auto;
}