.formContainer {
    display: flex;
    padding: 2vw;
    flex-direction: column;
    border: 1px solid #2f3039;
    border-radius: 2vw;
    width: fit-content;
    align-items: center;
    gap: 1vw;
    box-shadow: 0.2vw 0.2vw 1vw #2f3039;
    margin-top: 10vw;
    background-color: white;
}